.gradle
.architectury-transformer
.idea
.kotlin
build

common/.gradle
common/build
common/run

fabric/.gradle
fabric/build
fabric/run

neoforge/.gradle
neoforge/build
neoforge/run

gradle.properties
.vscode/

secring.gpg